/* montserrat-regular - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/montserrat-v26-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-600 - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/montserrat-v26-cyrillic_latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-700 - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/montserrat-v26-cyrillic_latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-800 - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/montserrat-v26-cyrillic_latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

*,
::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4{
  margin: 0;
  padding: 0;
}

h2{
  font-size: 48px;
  line-height: 59px;
  font-weight: 400;
}

html{
  font-family:'Montserrat', sans-serif;
  color: black;
  overflow-x: hidden;
}

a{
  color: inherit;
  text-decoration: none;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.container{
  max-width: 1950px;
  margin: 0 auto;
  padding: 0 75px;
}

.btn{
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}



/* HEADER-------------- */

header{
  padding-bottom: 50px;
}

.header{
  border-radius: 0px 0px 32px 32px;
  box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.10);
  margin-bottom: 50px;
}

.wraper__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  gap: 40px;
}

.burger{
  display: none;
}



.header__inner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 992px;
}



.nav__menu{
  display: flex;
}

.nav__item{
  font-size: 18px;
  font-weight: 600;
}
.nav__item:not(:last-child){
  margin-right: 85px;
}


.nav__link{
  display: block;
  position: relative;
  height: 26px;
  overflow: hidden;
}
.nav__link::after{
  content: "";
  position: absolute;
  display: block;
  right: 0;
  left: 0;
  bottom: 0;
  top: 20px;
  width: 100%;
  height: 2px;
  background-color: #F90;
  transform: translateX(-100%);
  transition-property: transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
.nav__link:hover::after{
  transform: none;
}
.nav__link:focus-visible{
  outline: #F90 2px solid;
}
.nav__link:active{
  color: #F90;
}



.header__btn{
  display: block;
  height: 30px;
  width: 30px;
  padding: 2px;

}
.header__btn:focus-visible{
  outline: #F90 2px solid;
}
.header__btn > rect{
  transition-duration: .2s;
  transition-timing-function: ease;
}
.header__btn > path{
  transition-duration: .2s;
  transition-timing-function: ease;
}
.header__btn:hover rect{
  fill: #FF9900;
}
.header__btn:hover path{
  stroke: #FF9900;
}
/* .header__btn path{
  transition-duration: 1s;
  transition-timing-function: ease;
} */

/* HERO__HEADER-------- */

.hero{
  position: relative;
}


.swiper{
  max-width: 100%;
  min-height: 620px;
}

.swiper-slide{
  background-size: cover;
  border-radius: 30px;
  min-height: 620px;
}

.hero h1{
  position: absolute;
  z-index: 2;
  top: 16%;
  left: 4.5%;
  max-width: 837px;
  color: #FFF;
  font-size: 70px;
  line-height: 85px;
  font-weight: 800;
}

.hero p{
  position: absolute;
  z-index: 2;
  top: 47.5%;
  left: 4.5%;
  max-width: 790px;

  color: #FFF;
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
}

.btn-hero{
  position: absolute;
  z-index: 2;
  top: 71%;
  left: 4.5%;
  padding: 25px 39px;
  background-color: #F90;
  border-radius: 16px;
  border: none;
  color: #FFF;
  font-size: 23px;
  font-weight: 700;
  transition-property: background-color;
  transition-duration: .2s;
  transition-timing-function: ease;
}
.btn-hero:hover{
  background-color: #FFB84D;
}
.btn-hero:focus-visible{
  background-color: #FFB84D;
}
.btn-hero:active{
  background-color: #E1670E;
}

/* ABOUT SECTION---------------------- */

.text__about{
  margin-bottom: 50px;
  font-size: 16px;
  line-height: 2em;
}

.about__wraper{
  padding-bottom: 100px;
}

.about__wraper h2{
  padding-bottom: 20px;
}

.text__about p{
  max-width: 1235px;
}

.about__links{
  display: flex;
}

.about_link{
  display: flex;
  align-items: flex-end;
  background-image: url(../img/worker.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 49%;
  margin-right: 32px;
  border-radius: 32px;
  transition: transform .3s ease-in-out;
}
.about_link:hover {
  transform: translate(2px, 2px);
}

.shtora{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-wrap: wrap; */
  flex-basis: 100%;
  gap: 15px;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.50);
  border-radius: 32px;
}

.shtora__text{
  font-size: 16px;
  color: #FFF;
  max-width: 433px;
  line-height: 2em;
  font-weight: 700;
  transition: transform .3s ease-in-out;
}
.shtora__text:hover{
  transform: translate(2px, 2px);
}


.btn__about{
  padding: 19px 38px;
  border: 3px solid #F90;
  border-radius: 16px;
  background-color: transparent;
  color: #FFF;
  font-weight: 700;
  font-size: 16px;
  transition-property: background-color, border;
  transition-duration: .2s;
  transition-timing-function: ease;
}
.btn__about:hover{
  background-color: #FF9900;
  border: 3px solid #FF9900;
}
.btn__about:focus{
  background-color: #FF9900;
  border: 3px solid #FF9900;
}
.btn__about:active{
  background-color: #E1670E;
  border: 3px solid #E1670E;
}

.adaptive-text__shtora{
  display: none;
}
.btn-adaptive-shtora{
  display: none;
}

/* .about_img{
  width: 100%;
} */

.about__column{
  flex-basis: 49%;
}

.first__about{
  display: flex;
  /* flex-wrap: wrap; */
  padding: 15px 15px 15px 60px;
  min-height: 295px;
  align-items: center;
  border: #CACACA 1px solid;
  border-radius: 32px;
  transition: transform .2s ease;
}
.first__about:not(:last-child){
  margin-bottom: 32px;
}
.first__about:hover{
  transform: translate(2px, 2px);
}

.about__logo{
  margin-bottom: 10px;
}

.first__text{
  max-width: 452px;
  margin-left: 50px;

}

.first__text h3{
  font-size: 24px;
  padding-bottom: 8px;

}

.first__text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 2em;
}

/*====== HOW WE WORK??=============*/

#how{
  margin-bottom: 111px;
}

.how__work  {
  margin-bottom: 45px;
}

.how__work h2{
  font-size: 48px;
  font-weight: 400;
  padding-bottom: 50px;
}

.how__steps{
  display: flex;
}

.step{
  font-size: 18px;
  font-weight: 400;
}
.step:not(:last-child){
  margin-right: 85px;
}
.active-step{
  color: #E1670E;
}

.slider{
  display: none;
  justify-content: space-between;
}

.slide-active{
  display: flex;
}

.slider__text{
  /* flex: 1 1 40%; */
  flex-basis: 46%;
  margin-right: 90px;
}

.slider__text h3{
  display: inline-block;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  padding-bottom: 8px;
}
.slider__text p{
  display: inline-block;
  padding-bottom: 18px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  max-width: 758px;
}


.slider__wrap{
  width: 48%;
}

.img__slider-1{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 32px;

}

.buttons{
  display: flex;
  gap: 32px;
}

.btn__slider-1{

  padding: 19px 38px;

  background-color: #F90;
  border-radius: 16px;
  color: #FFF;
  font-weight: 700;
  transition: background-color .4s ease;
}
.btn__slider-1:hover{
  background-color: #FFB84D;
}
.btn__slider-1:active{
  background-color: #E1670E;
}


.btn__slider-2{

  align-self: flex-end;
  padding: 19px 38px;
  color: black;
  border-radius: 16px;
  outline: 1px solid black;
  transition: background-color .4s ease;
}
.btn__slider-2:hover{
  background-color: #666;
  color: white;
}
.btn__slider-2:active{
  background-color: #000;
  color: white;
}

/* ____FAQ_____ */

#faq{
  margin-bottom: 100px;
}

.faq__text{
  margin-bottom: 32px;
}


.quetion{
  display: flex;

  align-items: center;
  justify-content: space-between;
  height: 112px;

  font-weight: 700;

  border-top: 1px solid #CACACA;
}

.icon-pluse__quetion:active{
  transform: rotateZ(45deg);
}
/* .quetion:hover > span,
.quetion:active > span{
  transform: rotateZ(45deg);
} */

.quetion:last-child {
  border-bottom: 1px solid #CACACA;
}

 .ui-state-active > span{
  transform: rotateZ(45deg);
 }

 .ui-state-active > .last{
  border-bottom: none;
 }

.icon-pluse__quetion{
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  transition: transform .2s ease-in;
}

.icon-pluse{
  width: 50px;
  height: 50px;
}



/* ___FOOTER____ */

#footer{
  background-color: #000;
}

.footer__container{
  max-width: 1920px;
  margin: 0 auto;
  padding: 50px 75px;
  display: flex;
  gap: 22px;
  justify-content: space-between;
  align-items: center;
}

.footer-links{
  max-width: 250px;

}

.footer-logo{
  display: inline-block;
  margin-bottom: 20px;
}

.footer__nav{
  margin-bottom: 86px;
}

.footer__nav-link{

  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 2em;
  color: #CACACA;
  transition: color .2s ease;
}
.footer__nav-link:hover{
  color: #FF9900;
}
.footer__nav-link:active{
  color: #E1670E;
}
.footer__nav-link:focus-visible{
  outline: 2px solid #F90;
}

.footer__socials{
  display: flex;
  gap: 25px;
}

.link-icon path{
  transition: fill 1s ease;
}
.link-icon svg:hover path{
  fill: #FF9900;
}



/* FORM */

::placeholder {
  margin: 0;
  padding: 0;
  color: #CACACA;
}

.footer__form{
  display: flex;
  flex-direction: column;
  flex-basis: 570px;
  margin-left: 114px;
  gap: 25px;
}


.h1{


  font-size: 48px;
  font-weight: 400;
  color: #CACACA;
}

.name{
  /* min-width: 570px; */
  height: 60px;
  padding: 14px 24px;
  background-color: #414141;
  color: #FFF;
  border-radius: 16px;
  border: none;
}

.email{
  /* min-width: 570px; */
  height: 60px;
  padding: 14px 24px;
  background-color: #414141;
  color: #FFF;
  border-radius: 16px;
  border: none;
}

.mesage{
  /* min-width: 570px; */
  height: 150px;
  padding: 14px 24px;
  background-color: #414141;
  color: #FFF;
  border-radius: 16px;
  border: inherit;
}
.masage:focus{
  outline: 1px solid #F90;
}


.btn__form{
  align-self: center;
  height: 58px;
  width: 269px;
  color: #FFF;
  background-color: #F90;
  border-radius: 16px;
  transition: .4s ease;
}
.btn__form:hover{
  background-color: #FFB84D;
}
.btn__form:active{
  background-color: #E1670E;
}

/* footer text */

.footer__text{

  color: #CACACA;
  width: 363px;
  line-height: 2em;
}


@media (max-width: 1180px){

  .container{
    padding: 0 50px;
  }

  .logo > img{
    width: 150px;
    height: 48px;
  }

  .nav__header{
    display: none;
  }

  .burger{
    display: inline-block;
  }

  .header__inner{
    display: inline-block;
    flex-basis: 30px;
  }

  header{
    padding-bottom: 35px;
  }
  .header{
    margin-bottom: 39px;
  }

  .hero h1{
    font-size: 60px;

    line-height: 1.3em;
    margin-bottom: 11px;
  }

  .hero{
    /* background-image: url(../img/hero1024.jpg); */
    min-height: 668px;
  }

  .hero p{
    max-width: 770px;
    top: 360px;
    margin-bottom: 62px;
    font-size: 20px;
    line-height: 24px;
  }

  .text__about {
    margin-bottom: 60px;
  }

  .about__links {
    display: flex;
    flex-direction: column;
  }

  .about_link {
    background-image: url(../img/worker.jpg);
    width: 100%;
    height: 640px;
    margin-right: 0;
    margin-bottom: 34px;
  }

  .first__about{
    padding: 15px 4px 15px 76px;
  }

  .about__wraper {
    padding-bottom: 80px;
  }

  .step:not(:last-child) {
    margin-right: 83px;
  }

  .slider__text {
    margin-right: 27px;
  }

  .slider__text h3 {
    line-height: 41px;
  }

  .slider__text p {
    /* width: 460px; */
    padding-bottom: 25px;
  }

  #how {
    margin-bottom: 80px;
  }

  .quetion {
    font-size: 20px;
  }

  .footer__text {
    display: none;
  }

  .footer__container {
    padding-top: 50px;
    padding-bottom: 45px;
  }

  .footer__nav {
    margin-bottom: 85px;
  }

  .footer__nav-menu{
    width: 261px;
  }

  .footer__form {
    width: 100%;
    flex-basis: auto;
  }

  .btn__form {
    margin-bottom: 20px;
    height: 58px;
    width: 269px;
  }
}


@media (max-width: 768px){
  .slider{
    flex-direction: column-reverse;
  }
  .slider__wrap{
    width: 100%;
  }
  .footer__container{
    flex-direction: column-reverse;

  }
  .footer__nav{
    display: none;
  }
  .footer__form{

    margin-left: 0;
  }
  .hero h1{
    font-size: 50px;

    max-width: 588px;
    line-height: normal;
    margin-bottom: 16px;
    text-align: center;
  }
  .hero p {
    text-align: center;
    margin: 0;
    font-size: 18px;
    line-height: normal;
  }
  .btn-hero{
    left: 25%;
  }
  .shtora__text{
    max-width: 366px;
  }
  .about__logo{
    width: 114px;
  }

  .footer-links {
    margin-left: auto;
    margin-right: auto;
  }

  .footer__socials{
    justify-content: space-between;
  }
}



@media (max-width: 550px){
  .container{
    padding: 0 15px 10px;
  }

  .hero h1{
    font-size: 50px;

  }

  .hero{
    min-height: 390px;
    min-width: 290px;
  }

  .hero p{
    max-width: 350px;
    font-size: 18px;
    margin-bottom: 30px;
    text-align: center;
    margin: 0 ;
    left: 25%;
  }

  .shtora{

    display: none;
  }

  .adaptive-text__shtora{
    display: inline-block;
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 2em;
    font-weight: 400;
  }
  .btn-adaptive-shtora{
    display: flex;
    align-self: flex-start;
    padding: 14px 44px;
    border-radius: 8px;
    border: 2px solid #F90;
    margin-bottom: 24px;
    color: #F90;
    font-weight: 700;
  }

  /* .adaptive__shtora{
    display: inline-block;
    width: 74px;
    padding: 12px 44px;
    border-radius: 8px;
    border: 2px solid #F90;
} */

  .how__steps{
    justify-content: space-between;
  }

  .step:not(:last-child){
    margin-right: 0px;
  }

  .first-text{
    margin-left: 20px;

  }

  .first__about{
    flex-direction: column;
    padding: 0;
    align-items: normal;
    border: none;
  }

  .about__logo{
    height: 60px;
    width: 60px;
  }

  .first__text{
    margin: 0;
  }

  .how__work h2{
    min-width: 267px;
    font-size: 38px;
  }

  .quetion{
    font-size: 14px;
    font-weight: 500;
  }

  .icon-pluse__quetion{
    width: 30px;
    height: 30px;
  }

  .icon-pluse{
    width: 30px;
    height: 30px;
  }

  .btn__slider-1{
    margin-right: 10px;
    padding: 19px 30px;
  }
  .btn__slider-2{

    padding: 19px 25px;
  }

  .about_link{
    height: 350px;
    margin-bottom: 8px;
  }

  .btn-hero{

    top: 78%;
  }
}


@media (max-width: 380px){

  .text__about h2{
    font-size: 24px;
  }



  .hero{
    text-align: center;
  }

  .btn-hero {
    margin: 0 0px 30px 15px;
  }

  .hero h1{
    padding-top: 40px;
    padding-bottom: 20px;
    margin: 0 auto;
    font-size: 25px;
    width: 95%;
  }

  .hero p{

    margin: 0 auto;
    width: 90%;
    padding-top: 0px;
    padding-bottom: 6px;
}



  .how__work h2{
    font-size: 24px;
  }


  .faq__text{
    font-size: 30px;
  }

  .btn-hero{
    font-size: 18px;
    margin-top: 50px;
    margin-left: 0;
  }

}


@media (max-width: 351px){
  .btn__slider-1{
    margin-right: 0;
    width: 100%
  }
  .btn__slider-2{

    width: 100%
  }


}

@media (max-width:320px){
  .about__logo{
    width: 64px;
  }

  .h1{
    margin-top: 19px;
    font-size: 24px;
  }
}
